.main {
  max-width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
  border-radius: 30px;
  border: 1px solid rgb(238, 238, 238);
  padding: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.container {
  display: flex;
}

@media screen and (max-width: 992px) {
   
}
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    .postListContainer {
      padding-top: 50px;
    }
  }
}
@media screen and (max-width: 576px) {
}
