.wrapper {
  min-width: 100%;
  margin-bottom: 50px;
  padding-left: 30px;
  .header {
    margin-bottom: 10px;

    display: flex;
    align-items: center;
    .avatar {
      width: 40px;
      height: 40px;
    }
    .author {
      word-wrap: break-word;
      margin: 0px 10px;
    }
  }
  .body {
    line-height: 1.5;
  }
  .bottom {
    margin-top: 15px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    .date {
      opacity: 0.6;
    }
    .likes {
      cursor: pointer;
      width: 21px;
    }
  }
}

@media screen and (max-width: 992px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 576px) {
}
