.wrapper {
  width: 100%;
  margin-bottom: 50px;
  .header {
    margin-bottom: 10px;

    display: flex;
    align-items: center;
    .avatar {
      width: 40px;
      height: 40px;
    }
    .author {
      word-wrap: break-word;
      margin: 0px 10px;
    }
    .title {
      font-size: 27px;
    }
  }
  .body {
    line-height: 1.5;
  }
  .bottom {
    margin-top: 15px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    .date {
      opacity: 0.6;
    }
    .likes {
      cursor: pointer;
      width: 21px;
    }
    .chat {
      cursor: pointer;
      width: 21px;
      margin-left: 10px;
    }
  }
}

@media screen and (max-width: 992px) {
  .wrapper {
    width: 100%;
    .header {
      .title {
        font-size: 17px;
      }
    }
    .body {
      font-size: 12px;
    }
  }
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 576px) {
}
